[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghoulamedz/Desktop/db_client_certs]
row=2
col=2

[/home/ghoulamedz/Desktop/mysql-workbench.desktop]
row=5
col=1

[/home/ghoulamedz/Desktop/visual-studio-code.desktop]
row=2
col=1

[/home/ghoulamedz/Desktop/practice-react]
row=5
col=0

[/home/ghoulamedz/Desktop/firefox.desktop]
row=4
col=0

[/home/ghoulamedz/Desktop/iphone_chrome]
row=1
col=2

[/home/ghoulamedz/Desktop/postman.desktop]
row=0
col=1

[/home/ghoulamedz/Desktop/demo-reddit]
row=4
col=1

[/home/ghoulamedz/Desktop/python]
row=6
col=0

[/home/ghoulamedz/Desktop/xfce4-taskmanager.desktop]
row=3
col=1

[/home/ghoulamedz/Desktop/google-chrome.desktop]
row=3
col=0

[/home/ghoulamedz/Desktop/xfce4-terminal-emulator.desktop]
row=1
col=1

[/home/ghoulamedz/Desktop/blank.pdf]
row=3
col=2

[/home/ghoulamedz/Desktop/my_dotfiles]
row=4
col=2

[/home/ghoulamedz/Desktop/iphone_pages]
row=0
col=2

[/home/ghoulamedz/Desktop/iphone]
row=6
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ghoulamedz]
row=2
col=0

